{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" style="max-width: 500px;">
    <h2 class="fw-bold mb-4">🧾 Rejestracja</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="mt-4 d-flex justify-content-between">
            <a href="{% url 'accounts:login' %}" class="btn btn-outline-secondary">Masz konto?</a>
            <button type="submit" class="btn btn-primary">Zarejestruj się</button>
        </div>
    </form>
</div>
{% endblock %}
